.center-block{
	min-width:500px;
	max-width:500px;
	
}
.playerFront{
	min-width:500px;
	max-width:500px;
	height:68px;
	background-color:#009EE2;
}
.img-responsive {
	padding:20px;
}

.button_container{
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
}
.playable_container{
	background-color: #C0C0C0;
	overflow-y: scroll;
	max-height: 300px;
	transition: all .5s linear;
}
.equal{
	background-color: lightgrey;
}

.preview-img{
	height: 70px;
	width: 70px;
	margin: 15px;
	border-radius: 5px;
}

.preview-src-spiegel{
	width: 17%;
	height: 17%;
	margin: 15px;
}
.playable{
	height: 100px;
}
.preview-src-focus{
	width: 20%;
	height: 20%;
	margin: 15px;
}
.preview-src-zeit{
	width: 17%;
	height: 17%;
	margin: 15px;
}

.preview-src-deezer{
	width: 17%; 	
	height: 17%;
	margin: 15px;
}

.details{
	display:inline-block;
	word-wrap: break-word;
	max-width: 250px;
	vertical-align: middle;
}


.player_button_pause {
	content:url('../pics/pause.svg');
}

.player_button_play {
	content:url('../pics/play.svg');
}

.player_button_pause, .player_button_play{
	width: 27%;
	background-color: #009EE2;
	padding:10px;
	display: inline-block;
	border-radius:10px;
}
.player_button_play:hover{
	width: 27%;
	background-color: #88dcff;
	padding:10px;
}
.player_button_pause:hover{
	width: 27%;
	background-color: #88dcff;
	padding:10px;
}

.player_button{
	width: 20%;
	background-color: #009EE2;
	padding:10px;
	display: inline-block;
	border-radius:10px;
}
.player_button:hover{
	background-color: #88dcff;
}
#dz-root{
	visibility:hidden;
}